// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  width: 15%;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  border: solid black 3px;
  border-radius: 5px;
  position: sticky;
  top: 50px;
}

